@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
body {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #f5f5f5 #333;
}
